// Workflow    : Identificación conjunta de variantes germinales con GATK4
// Institución : Instituto Nacional de Medicina Genómica (INMEGEN)
// Maintainer  : Subdirección de genómica poblacional y subdirección de bioinformática del INMEGEN
// Versión     : 0.1

// Ruta y nombre del directorio principal (directorio de salida y directorio de trabajo) 
params.outdir = "results/"

// Parámetros con la información y el tipo de datos crudos
params.data_info="data_info.tsv"
params.project_name = "RNA_QC_NOIseq"

// Directorios adicionales (NO EDITAR)
params.out = params.outdir + '/out'
params.tmpdir = params.out
workDir = params.outdir + '/nextflow_work_dir'

executor {
  name = 'local'
  queueSize = 10 //number of processes running in parallel
}
